HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!build/reports/jacoco/test/jacocoTestReport.xml
!build/libs/desapp-apl-0.0.1-SNAPSHOT.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore Gradle GUI config
gradle-app.setting

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
